      <%= render 'sidebar' %>
<div class="span9">

<div id="products"><%= render 'products' %></div>


<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @businessbooks %>
    </div>
    <%= will_paginate @businessbooks, :container => false %>
  </div>
<br />
      <% if current_user %>
<%= link_to 'New Book', new_businessbook_path %>
<% end %>
</div>