<%= form_for(@educationliterature) do |f| %>
  <% if @educationliterature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@educationliterature.errors.count, "error") %> prohibited this educationliterature from being saved:</h2>

      <ul>
      <% @educationliterature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :publisher %><br />
    <%= f.text_field :publisher %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :vendor %><br />
    <%= f.text_field :vendor %>
  </div>
  <div class="field">
    <%= f.label :pict %><br />
    <%= f.text_field :pict %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
