<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @educationliterature.title %>
</p>

<p>
  <b>Description:</b>
  <%= @educationliterature.description %>
</p>

<p>
  <b>Link:</b>
  <%= @educationliterature.link %>
</p>

<p>
  <b>Price:</b>
  <%= @educationliterature.price %>
</p>

<p>
  <b>Publisher:</b>
  <%= @educationliterature.publisher %>
</p>

<p>
  <b>Year:</b>
  <%= @educationliterature.year %>
</p>

<p>
  <b>Vendor:</b>
  <%= @educationliterature.vendor %>
</p>

<p>
  <b>Picture:</b>
  <%= @educationliterature.picture %>
</p>

<p>
  <b>Category:</b>
  <%= @educationliterature.category %>
</p>

<p>
  <b>Author:</b>
  <%= @educationliterature.author %>
</p>


<%= link_to 'Edit', edit_educationliterature_path(@educationliterature) %> |
<%= link_to 'Back', educationliteratures_path %>
