<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @nonfictionliteraturecategory.name %>
</p>

<p>
  <b>Category:</b>
  <%= @nonfictionliteraturecategory.category %>
</p>

<p>
  <b>Parentcategoryid:</b>
  <%= @nonfictionliteraturecategory.parentcategoryid %>
</p>


<%= link_to 'Edit', edit_nonfictionliteraturecategory_path(@nonfictionliteraturecategory) %> |
<%= link_to 'Back', nonfictionliteraturecategories_path %>
