<%= form_for(@businesscategory) do |f| %>
  <% if @businesscategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@businesscategory.errors.count, "error") %> prohibited this businesscategory from being saved:</h2>

      <ul>
      <% @businesscategory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :parentcategoryid %><br />
    <%= f.text_field :parentcategoryid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
