<div class="span8">
<h1>Listing categories</h1>

<%= form_tag books_path, :method => 'get', :id => "categories_search" do %>

  <p>
    <%= text_field_tag :search, params[:search], :id => "keyword" %>
    <%= submit_tag "Искать", :name => nil %>
  </p>
<% end %>







<table>
  <tr>
    <th>Name</th>
    <th>Categoryid</th>
    <th>Parentcategoryid</th>
        <th>Theme</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.categoryid %></td>
    <td><%= category.parentcategoryid %></td>
    <td><%= category.theme %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />
<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @categories %>
    </div>
    <%= will_paginate @categories, :container => false %>
  </div>
<br />

<%= link_to 'New Category', new_category_path %>
</div>
